@import 'tailwindcss';

:root {
  --cls-bg: #000810FF;
  --cls-fg: #f9f9f9;

  --cls-gradient-from: #00d3f2;
  --cls-gradient-via: #00bba7;
  --cls-gradient-to: #00c950;

  --spg-section: 10rem;
}

@theme {
  --color-cls-bg: var(--cls-bg);
  --color-cls-fg: var(--cls-fg);

  --color-cls-gradient-from: var(--cls-gradient-from);
  --color-cls-gradient-via: var(--cls-gradient-via);
  --color-cls-gradient-to: var(--cls-gradient-to);

  --spacing-spg-section: var(--spg-section);
}

@layer base {
  body {
    background-color: var(--cls-bg);
    color: var(--cls-fg)
  }
}

@layer components {
  .Button {@apply
    py-3 px-8 rounded-xl font-semibold w-max cursor-pointer select-none
    hover:brightness-110 hover:scale-[1.02]
    active:scale-95;
  }
  .SimpleTitleCard {@apply
    px-2 py-1 bg-[rgba(255,255,255,.05)] font-semibold backdrop-blur-xs text-xs rounded-xl mx-2 mt-5 w-min
  }
  .OutlinedCardBase {@apply
    p-5 border-1 rounded-2xl border-[rgba(255,255,255,.2)]
  }
}

@layer utilities {
  .BaseSection {@apply
    max-w-370 mx-auto box-border px-5 my-spg-section;
  }
  .BaseParagraph {@apply
    opacity-75
  }
  .BaseTitle {@apply
    font-semibold text-3xl
    md:max-w-4xl md:text-5xl;
  }
  .SlowTransition {@apply
    transition-all duration-300 ease-in;
  }
  .MediamTransition {@apply
    transition-all duration-200 ease-in;
  }
  .GradientBase {@apply
    bg-gradient-to-r from-cls-gradient-from via-cls-gradient-via to-cls-gradient-to;
  }
  .TextGradient {@apply
  bg-clip-text text-transparent;
  }
  .WidthRestrict {@apply
    max-w-370 mx-auto box-border;
  }
  .DefaultPaddingX {@apply
    px-5;
  }
  .HeroBgGradient {
    background-image: linear-gradient(
            to bottom,
            rgba(0, 8, 16, 0.5) 0%,
            rgba(0, 8, 16, 0.55) 40%,
            rgba(0, 8, 16, 0.65) 70%,
            rgba(0, 8, 16, 0.75) 75%,
            rgba(0, 8, 16, 1) 100%
    );
  }
  .HeaderBackdrop {@apply
  bg-[rgba(0,5,10,.7)] backdrop-blur-sm;
  }

  .BorderGradientTopFromDown {
    border-image-source: linear-gradient(
            to down,
            var(--cls-gradient-from),
            var(--cls-gradient-via),
            var(--cls-gradient-to)
    );
    border-image-slice: 1;
  }
}


.wave-dots-spinner {
  display: flex;
  align-items: center;
  justify-content: center; /* Centtraliza as bolinhas no container */
  gap: 8px; /* Espaço entre as bolinhas */
}

.wave-dot {
  border-radius: 50%; /* Faz o elemento ser um círculo */
  /* Aplica o gradiente especificado */
  background-image: linear-gradient(
          to bottom,
          rgba(0, 8, 16, 0.5) 0%,
          rgba(0, 8, 16, 0.55) 40%,
          rgba(0, 8, 16, 0.65) 70%,
          rgba(0, 8, 16, 0.75) 75%,
          rgba(0, 8, 16, 1) 100%
  );
  animation-name: wave-jump;
  animation-duration: 0.8s; /* Duração de cada pulo */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes wave-jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px); /* Altura do pulo */
  }
}